<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <h2>Aanbieders</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="mainCtrl.addNewTravelOffer()">
            <md-icon md-font-icon="material-icons">add_circle</md-icon>
            <md-tooltip md-direction="right">
               Aanbod toevoegen
            </md-tooltip>
        </md-button>
    </div>
</md-toolbar>
<md-content>
    <md-list flex="">
        <md-subheader class="md-no-sticky">
            Zet jezelf bij een aanbieding om mee te reizen!
        </md-subheader>
        <md-list-item ng-repeat="travelOffer in mainCtrl.travelOffers" ng-click="null">
            <!-- TODO: Icoon groter proberen te maken -->
            <md-icon md-font-icon="material-icons">directions_car</md-icon>
            <form layout="column"flex="">
                <!-- TODO: Ruimte tussen regels kleiner maken -->
                <div layout="row" layout-align="space-between center"><div>Naam:</div><div>{{travelOffer.providerName}}</div></div>
                <div layout="row" layout-align="space-between center"><div>Bestemming:</div><div>{{travelOffer.destination}}</div></div>
                <div layout="row" layout-align="space-between center"><div>Aantal plaatsen:</div><div>{{travelOffer.nrAvailableSeats}}</div></div>
                <div layout="row" layout-align="space-between center"><div>Vertrektijd:</div><div>{{travelOffer.leaveTime | date: 'short'}}</div></div>
                <div layout="row" layout-align="space-between center"><div>Email:</div><div>{{travelOffer.providerEmail}}</div></div>
            </form>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>
</md-content>
