<md-toolbar layout="row" class="md-hue-2">
    <div class="md-toolbar-tools">
        <span>Aanvragen</span>
    </div>
</md-toolbar>
<md-content>
    <md-list flex="">
        <md-subheader class="md-no-sticky">
            Stuur deze mensen een email als je vervoer voor hen hebt!
        </md-subheader>
        <md-list-item class="md-3-line" ng-repeat="travelRequest in mainCtrl.travelRequests" ng-click="null">
            <!-- TODO: Icoon groter proberen te maken -->
            <md-icon md-font-icon="material-icons">face</md-icon>
            <div class="md-list-item-text" layout="column">
                <h3>Naam: {{travelRequest.requesterName}}</h3>
                <h3>Bestemming: {{travelRequest.requesterDestination}}</h3>
                <h3>Gewenste vertrektijd: tussen {{travelRequest.desiredLeaveTimeStart | date : 'short'}} 
                    en {{travelRequest.desiredLeaveTimeEnd | date : 'short'}}</h3>
                <p>Email: {{ travelRequest.requesterEmail}}</p>
                <p>{{ item.notes}}</p>
            </div>
        </md-list-item>
    </md-list>
</md-content>
