<md-dialog aria-label="Travel Offer" ng-cloak >
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{dlgCtrl.travelOffer === null ? 'Nieuwe' : 'Aanpassen'}} reisaanbieding</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="row">
        <!-- TODO: Icoon groter proberen te maken -->
        <md-icon md-font-icon="material-icons" flex="10">directions_car</md-icon>
        <div layout="column" flex="">
            <div layout="row" layout-align="space-between center"><div>Naam:</div><input ng-model="dlgCtrl.travelOffer.providerName"></div>
            <div layout="row" layout-align="space-between center"><div>Bestemming:</div><input ng-model="dlgCtrl.travelOffer.destination"></div>
            <div layout="row" layout-align="space-between center"><div>Aantal plaatsen:</div><input ng-model="dlgCtrl.travelOffer.nrAvailableSeats" required="" type="number" min="1" max="10"></div>
            <div layout="row" layout-align="space-between center"><div>Vertrektijd:</div><input type="datetime-local" ng-model="dlgCtrl.travelOffer.leaveTime"></div>
            <div layout="row" layout-align="space-between center"><div>Email:</div><input ng-model="dlgCtrl.travelOffer.providerEmail"></div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="dlgCtrl.close()">
       OK
      </md-button>
      <md-button ng-click="dlgCtrl.cancel()" style="margin-right:20px;">
        Annuleren
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>